<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packed Bed Reactor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
</head>
<body class="container shadow-lg p-3 mb-5 bg-white rounded ">
    <h1 class="d-flex justify-content-center">Packed Bed Reactor</h1>
    <p>Select the type of Packed Bed Reactor to continue:</p>
    <ul>
        <li><a href="/pbr_liquid">Liquid</a></li>
        <li><a href="/pbr_gas">Gas</a></li>
    </ul>
    <a href="/">Back to Main Menu</a>
</body>
</html>
