<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSTR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
        .button{
        display: flex;
        margin: auto;
        justify-content: center;
        }
    </style>
</head>
<body class="container shadow-lg p-3 mb-5 bg-white rounded ">
    <h1 class="d-flex justify-content-center">CSTR</h1>
    <b>For reaction A --- > B</b>
    <form action="/calculate_csrt" method="POST">
        <label for="flowrate">Flowrate:</label>
        <input type="number" step="any" name="flowrate" id="flowrate" required><br>
        <br>
        <label for="conversion">Conversion:</label>
        <input type="number" step="any" min="0" max="1" name="conversion" id="conversion" required><br>
        <br>
        <label for="rate_constant">Rate Constant:</label>
        <input type="number" step="any" name="rate_constant" id="rate_constant" required><br>
        <br>
        <label for="concentration">Concentration:</label>
        <input type="number" step="any" min="0" name="concentration" id="concentration" required><br>
        <br>
        <label for="alpha">Reaction Order:</label>
        <input type="number" step="any" name="alpha" id="alpha" required><br>
        <br>
        <button class="button" type="submit">Calculate</button>
    </form>
    <a href="/">Back to Main Menu</a>
</body>
</html>


